services:
  # ОДНА БД для всех микросервисов
  ewm-db:
    image: postgres:16.1
    container_name: "ewm-main-db"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - ewm-data:/var/lib/postgresql/data

  # БД для статистики (отдельно)
  stats-db:
    image: postgres:16.1
    container_name: "stats-db"
    environment:
      POSTGRES_DB: ewm-stats
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "6542:5432"
    volumes:
      - stats-data:/var/lib/postgresql/data

volumes:
  ewm-data:
  stats-data: