server:
  port: 8080

spring:
  application:
    name: gateway-server
  cloud:
    config:
      import: "optional:configserver:"
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: main-service-admin
          uri: lb://main-service
          predicates:
            - Path=/admin/**
        - id: main-service-public
          uri: lb://main-service
          predicates:
            - Path=/categories/**,/compilations/**,/events/**,/comments/**
        - id: main-service-private
          uri: lb://main-service
          predicates:
            - Path=/users/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}