server:
  port: 8087

spring:
  application:
    name: event-service
  main:
    allow-bean-definition-overriding: true
  
  # Config Server
  config:
    import: optional:configserver
  cloud:
    config:
      enabled: false
    import-check:
      enabled: false

  #
  mvc:
    throw-exception-if-no-handler-found: true
    pathmatch:
      matching-strategy: ant_path_matcher

  # PostgreSQL Configuration
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/event_service_db
    username: postgres
    password: postgres

    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: public
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

    generate-ddl: false

  # SQL init
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      continue-on-error: false
    initialization-mode: always

  # Jackson
  jackson:
    deserialization:
      fail-on-unknown-properties: false

# Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      path-mapping:
        health: healthcheck
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

# Logging
logging:
  level:
    ru.practicum: DEBUG
    org.springframework.validation: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"